body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #E6EDF7;
}


/* ------------------------------ */
/* HEADER - HOME */
/* ------------------------------ */

:root {
    --background-color: #e6edf7;
    --azul-principal: #004aad;
    --azul-medio: #002c68;
    --azul-escuro: #001a3d;
    --vermelho: #ff2b2b;
}
  
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s linear;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul-escuro);
    z-index: -1;
}

.navbar{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 1.35rem;
    color: var(--background-color);
    text-decoration: none;
    font-weight: 500;
    /* margin-left: 2.5rem; */
}

.navbar .selected{
    color: var(--vermelho);
    border-bottom: 1px solid var(--vermelho);
}

.navbar a:hover {
    font-size: 1.35rem;
    color: var(--vermelho);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    border-bottom: 1px solid #ff2b2b;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 10%;
    font-size: 2.8rem;
    color: var(--background-color);
    cursor: pointer;
    display: none;
}

section{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section:nth-of-type(1){
    background-image: url(/imagens/home-bg.jpg);
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 10%;
    }
}

@media (max-width: 1170px) {
    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 26, 61, 0.4);
        background-color: #001a3d;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }
}
  

/* ------------------------------ */



/* ------------------------------ */
/* BOX FILTRO */
/* ------------------------------ */
.filtro_home {
    min-height: 13vh;
    background-color: #004aad;
    margin: 40px 10vw;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #002C68;
}
/* ------------------------------ */



/* ------------------------------ */
/* SELECT */
/* ------------------------------ */
select{
    font-family: 'Montserrat', sans-serif;
    background-color: #E6EDF7;
    color: #004aad;
    width: 10rem;
    height: 2.5rem;
    padding-left: 1rem;
    font-size:20px;
    border: none;
    border-radius:4px;
    margin-bottom: 1.5rem;
    outline: none;
}
/* ------------------------------ */



/* ------------------------------ */
/* INPUT */
/* ------------------------------ */
input{
    font-family: 'Montserrat', sans-serif;
    background-color: #E6EDF7;
    color: #004aad;
    width: 10rem;
    height: 2.5rem;
    padding-left: 1.3rem;
    font-size: 20px;
    border:none;
    border-radius:4px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    outline: none;
}
/* ------------------------------ */
/* INPUT - PLACEHOLDER */
input::placeholder{
    color: #004aad;
    font-style: italic;
}
/* ------------------------------ */



/* ------------------------------ */
/* BOTÃO BUSCAR */
/* ------------------------------ */
button.filtrarbtn1,
button.filtrarbtn2 {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF2A2A;
    color: #E6EDF7;
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 0rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.filtrarbtn1:hover,
.filtrarbtn2:hover{
    transition: all .5s ease-in-out;
    background-color: #002C68;
    box-shadow: 0px 0px 8px #002C68;
}
/* ------------------------------ */



/* ------------------------------ */
/* BOX TIPOS DE FILTRO */
/* ------------------------------ */
div.botoes_filtro{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
}
/* ------------------------------ */
/* BOTÃO - BUSCA DIRETA */
button.btndireta,
button.btnavancada{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    padding: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    border: none;
    color: #E6EDF7;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

/* ------------------------------ */
/* BOTÃO - BORDAS */
button.btndireta{
    background-color: #004aad;
    border-top-left-radius: 8px;
    float: left;
}
button.btnavancada{
    background-color: #002C68;
    border-top-right-radius: 8px;
    float: right;
}
/* ------------------------------ */



/* ------------------------------ */
/* INPUT CAIXA DE BUSCA - BUSCA DIRETA */
/* ------------------------------ */
.filterdireta{
    width: 50vw;
}
@media screen and (max-width: 700px){
    .filterdireta, button.filtrarbtn1{
        width: 100%;
    }
    .filtro_home{
        min-height: 19vh;
    }
}
/* ------------------------------ */



/* ------------------------------ */
/* BOX CONTENT - FILTRO DIRETO */
/* ------------------------------ */
.boxfilter1,
.boxfilter2 {
    padding: 20px;
    padding-bottom: 0;
    margin: 0px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ------------------------------ */
.boxfilter1.show_tab,
.boxfilter2.show_tab {
    display:flex !important;
}


/* ------------------------------ */
/* BOX RESPONSIVO */
/* ------------------------------ */
@media screen and (max-width: 500px) {
    .boxfilter2 {
        flex-direction: column;
    }
    .input{
        width: calc(100% - 1.3rem);
    }
    .filter_marca, .filter_modelo, .filter_anode, .filter_anoate, button.filtrarbtn2{
        width: 100%;
    }
    button.btndireta{
        padding-left: 4.8vw;
        padding-right: 4.8vw;
    }
}
/* ------------------------------ */


/* ------------------------------ */
/* BARRA DIVISÓRIA DE CATEGORIAS - HOME */
/* ------------------------------ */
.bar_home{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #002C68;
    color: #E6EDF7;
    font-size: clamp(12px, 2vw, 24px);
    font-weight: 600;
    max-width: 100%;
    text-align: center;
}
/* ------------------------------ */



/* ------------------------------ */
/* DIV HOME - QUEM SOMOS */
/* ------------------------------ */
.quem_somos{
    background-color: #004aad;
    color: #E6EDF7;
    margin: 0 0 0 0;
    padding: 40px 10vw 40px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.box_quem_somos, .box_img_qs_home{
    max-width: calc(50% - 3vw);
    max-height: 100%;
}
.qs_title{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
    margin: 0 0 20px;
}
.qs_text{
    font-family: 'Montserrat', sans-serif;
    text-align:justify;
    font-size: clamp(8px, 4vw, 20px);
    font-weight: 200;
    margin: 0 0 21px;
}
.qs_btn{
    background-color: #E6EDF7;
    color:#004aad;
    border: 1px solid #E6EDF7;
    border-radius: 4px;
    font-size: clamp(12px, 4vw, 16px);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 3vw;
    margin: 0 0 21px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px #002C68;
}
.qs_btn:hover{
    transition: all .5s ease-in-out;
    background-color: #004aad;
    color: #E6EDF7;
    border: 1px solid #E6EDF7;
    box-shadow: none;
}
.box_img_qs_home{
    display: block;
    justify-content: center;
    align-items: right;
}
#img_qs_home{
    border-radius: 8px;
    box-shadow: 0px 0px 8px #002C68;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .quem_somos{
        display: inline-block;
    }
    .box_quem_somos, .box_img_qs_home{
        max-width: 100%;
    }
    .qs_btn{
        width: 100%;
    }
}
/* ------------------------------ */



/* ------------------------------ */
/* HOME - PONTOS POSITIVOS - PQ NEGOCIAR CONOSCO */
/* ------------------------------ */
.pontos_positivos{
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-image: url('/imagens/fachada_2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
}
.positive_title{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(14px, 4vw, 24px);
    font-weight: 600;
    color: #E6EDF7;
    padding: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 4px rgba(0,0,0,.5)) ;
}
.box_positivos{
    position: relative;
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-content: space-between;
}
.box_1{
    width: 22vw;
    min-width: 22vw;
    height: 160px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 4px;
    background-color: #E6EDF7;
    border: none;
    border-radius: 4px;
    padding: 1% !important;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: 600;
    color: #004aad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
    .box_1{
        min-width: 36vw;
        height: 120px;
    }
    .box_positivos{
        gap: 5px;
    }
}
/* ------------------------------ */



/* ------------------------------ */
/* HOME - NOSSOS SERVIÇOS */
/* ------------------------------ */
.nossos_serv{
    margin: 0 0 0 0;
    padding: 40px 10vw 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
    color: var(--azul-escuro);
    background-color: #004aad;
}
.box_ns{
    width: 22rem;
    height: 28rem;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--background-color);
    box-shadow: 0 0 0 0 #002C68;
    overflow: hidden;
}
.img_ns{
    height: 100%;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
#img_ns_1{
    background-image: url(/imagens/servicos_1.avif);
    background-position: center center;
}
#img_ns_2{
    background-image: url(/imagens/servicos_2.jpg);
    background-position: top center;
}
#img_ns_3{
    background-image: url(/imagens/servicos_3.jpg);
    background-position: center center;
}

.img_ns .img_text_bx_ns{
    background-color: rgba(176, 199, 230, 0.85);    
    backdrop-filter: blur(4px);
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}
.block_title_icon_box_servicos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
}
.img_text_bx_ns .title_bx_ns{
    font-weight: 600;
    font-size: clamp(14px, 3vw, 18px);
}
.img_text_bx_ns .text_bx_ns{
    font-weight: 400;
    font-size: clamp(10px, 3vw, 14px);
}
.btn_bx_ns{
    background-color: transparent;
    color: var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
    border-radius: 4px;
    font-size: clamp(12px, 4vw, 16px);
    font-weight: 500;
    padding: 0.2rem 1.2rem;
    box-sizing: border-box;
}
.btn_bx_ns:hover{
    background-color: var(--azul-escuro);
    color: var(--background-color);
}
@media  (max-width: 895px) {
    .nossos_serv{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .box_ns{
        width: 100%;
        height: 26rem;
    }
    .img_ns .img_text_bx_ns{
        height: auto;
    }
}
/* ------------------------------ */



/* ------------------------------ */
/* PAGE - ESTOQUE */
/* ------------------------------ */

/* ------------------------------ */
/* SECOND HEADER */
/* ------------------------------ */
.second_header{
    position: relative;
    top: 112px;
    width: 100%;
    height: 20vh;
    padding: 1.5rem 10vw;
    display: grid;
    align-content: center;
    justify-content: start;
    color: var(--background-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.second_header:nth-of-type(1){
    background-image: url(/imagens/home-bg-mini.png);
}
.text_caminho{
    font-size: clamp(12px, 4vw, 20px);
    font-weight: 400;

}
.title_sec_header{
    font-size: clamp(32px, 4vw, 40px);
    font-weight: 700;
}

/* ------------------------------ */


/* ------------------------------ */
/* FOOTER */
/* ------------------------------ */
footer{
    padding: 40px 10vw;
    background-color: var(--azul-escuro);
    color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    gap: 20px;
}
footer a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 14px;
    font-weight: 200;
}
footer a:hover{
    color: var(--vermelho);
}
footer .title_link_footer{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.box_footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.box_redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.barra_footer{
    width: 100%;
    height: 1px;
    background-color: var(--background-color);
}
.base_footer{
    width: 100%;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.base_footer_dev{
    display: inline-flex;
    gap: 10px;
}

@media (max-width:400px) {
    footer .img_logo_svg{
        width: 200px;
    }
    header .img_logo_svg{
        width: 200px;
    }
    
}
/* ------------------------------ */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FFFF;
}
